.container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 0.1rem;
  background: rgb(191, 191, 191);
  border: solid 0.2rem rgb(119, 119, 119);
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
